@media (max-width: 1198px){
    body {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media (max-width: 600px){
    body {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 300px){
    body {
        padding-right: 20px;
        padding-left: 20px;
    }
}